.imgprof {
    border-radius: 50%;
}

.toolbar-dark {
    position: sticky !important;
    top: 0;
    background-color: #1c313a;
    color: white;
}

.showToggle {
    visibility: hidden;
}

@media only screen and (max-width: 1200px) {
    .showToggle {
        visibility: hidden;
    }
}

@media only screen and (max-width: 640px) {
    .showToggle {
        visibility: visible;
    }
    img.ButtonAppBar_imgprof__1wuMO.css-187a1ra {
        margin-left: 0px;
        padding: 0px;
        margin-right: 0;
    }
}

.simpleBtn {
    visibility: visible;
}

@media only screen and (max-width: 1200px) {
    .simpleBtn {
        visibility: visible;
    }
}

@media only screen and (max-width: 640px) {
    .simpleBtn {
        visibility: visible;
        text-transform: none;
        min-width: 0px;
    }
    .imgprof {
        margin-left: 0px;
        padding: 0px;
        margin-right: 0;
    }
    .toolbar-dark {
        padding-left: 0px;
        padding-right: 0px;
        text-transform: none;
        min-width: none;
    }
}