.projwidth {
  width: 100%;
  height: calc(100vh - 75px);
  display: flex;
  flex-wrap: wrap;
  /* align-content: center; */
  justify-content: space-evenly;
  align-items: center;
  overflow-y: hidden;
}
.projwidth1 {
  width: 100%;
  height: calc(50vh);
}

.imag {
  width: 600px;
  border-radius: 300px;
}
.projtitle {
  font-size: xxx-large;
  text-shadow: -3px 1px #0000007a;
  text-align: center;
}

@media only screen and (max-width: 1400px) {
  .projwidth1 {
    width: 100%;
    height: calc(100vh - 75px);
  }
  .projimag {
    width: 300px;
  }
  .projwidth {
    width: 100%;
    height: calc(100vh - 75px);
    display: flex;
    flex-wrap: wrap;
    overflow-y: hidden;
    
    /* align-content: center;
    justify-content: space-evenly;
    align-items: center; */
    /* margin-top: 50%; */
  }
}
@media only screen and (max-width: 940px) {
  .projimag {
    width: 300px;
  }
  .projwidth1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .projwidth {
    overflow-x:hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
