.aboutwidth {
    display: flex;
    align-items: center;
    background-image: url(./Img/stars.webp);
}

img.main-header_whiteBg {
    background-repeat: no-repeat;
    object-fit: cover;
    opacity: 0.3;
    height: auto;
    width: 100%;
}

.imag {
    font-family: math;
    max-height: 90vh;
    border-radius: 300px;
}

.title {
    font-size: xxx-large;
    text-shadow: -3px 1px #0000007a;
}

.secondflex {
    display: flex;
    flex-direction: column;
}

p {
    font-weight: lighter;
    font-size: 18px;
    font-family: ui-serif;
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(1.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@media only screen and (max-width: 1200px) {
    .imag {
        max-height: 70vh;
        border-radius: 300px;
    }
    .title {
        font-size: xxx-large;
        text-shadow: -3px 1px #0000007a;
    }
    .secondflex {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 640px) {
    p {
        font-weight: lighter;
        font-size: 12px;
        font-family: ui-serif;
    }
    .aboutwidth {
        display: block;
    }
    .title {
        font-size: xxx-large;
        text-shadow: -3px 1px #0000007a;
        text-align: center;
        position: relative;
    }
    .longText {
        margin: auto;
        text-align: center;
    }
    .imag {
        width: 247px;
        margin: 0 auto;
        display: block;
    }
}