.aboutwidth{
    width: 100%;
    height: calc(100vh - 75px);
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
 
}
.longText{
    padding: 10px;
    margin: auto;
}
.imag{
    width:600px;  
    border-radius: 300px;
}
.title{
    font-size: xxx-large;
    text-shadow: -3px 1px #0000007a;
}

@media only screen and (max-width: 1200px) {
    .imag{
        width:300px;  
    }
    .aboutwidth{
        width: 100%;
        height: calc(100vh - 75px);
        display: flex;
        align-items: stretch;
        flex-direction: column;
        justify-content: center;
        align-content: space-between;
        flex-wrap: wrap;
        overflow-x: hidden;
    }
}

@media only screen and (max-width: 640px) {
    .aboutwidth {
        width: 100%;
        height: calc(200vh - 75px);
        display: flex;
        justify-content: space-between;
        align-content: space-around;
        flex-wrap: wrap;
        overflow-x: hidden;
        flex-direction: row;
    }
}