.footerwidth {
  width: 100%;
  height: calc(22vh - 75px);
  position: absolute;
  margin-top: 100%;
}

.footertitle {
  text-align: center;
  font-size: xx-large;
  position: relative;
}

.footericons {
  box-sizing: inherit;
  margin: auto;
  position: relative;
  margin-top: 10px;
}
@media only screen and (max-width: 1400px) {
  .footericons {
    box-sizing: inherit;
    margin: auto;
    position: relative;
    margin-top: 10px;
  }
  .footerwidth {
    width: 100%;
    height: calc(40vh - 75px);
    position: absolute;
    margin-top: 100%;
  }
}
@media only screen and (max-width: 640px) {
  .footerwidth {
    height: calc(35vh - 75px);
    position: absolute;
    max-width: 100%;
    overflow-x: hidden;
  }

  .footericons {
    box-sizing: inherit;
    margin: auto;
    position: relative;
  }
}
