.width {
  height: calc(100vh - 75px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 0;
  bottom: 5px;
  overflow-y: hidden;

}
.center {
  position: relative;
}
.title {
  font-size: xxx-large;
  text-shadow: -3px 1px #0000007a;
}
.secondaryTxt {
  font-size: x-large;
}
.icons {
  box-sizing: inherit;
  display: flex;
  justify-content: right;
  position: absolute;
  right: 0;
  bottom: 5px;
}
@media only screen and (max-width: 1200px) {
  .width {
    height: calc(100vh - 75px);
    overflow-y: hidden;

  }
  .icons {
    box-sizing: inherit;
    display: flex;
    justify-content: right;
    position: absolute;
    right: 0;
    bottom: 5px;
  } 
}
@media only screen and (max-width: 640px) {
  .width {
    /* height: calc(100vh - 75px);
    overflow-x: hidden; */
    overflow-x:hidden;

  }
  .icons {
    box-sizing: inherit;
    display: flex;
    position: absolute;
    flex-wrap: nowrap;
    flex-direction: row;
  
  }
}
